{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="/static/edition.css">
{% endblock %}

{% block content %}
{% if g.user %}
<form id="favorite-form" action="/books/{{edition_id}}/usercollect/favorites" method="POST"><button>Favorite</button></form>
<form id="have-read-form" action="/books/{{edition_id}}/usercollect/read_list" method="POST"><button>Mark as Read</button></form>
<form id="recommendation-form" action="/books/{{edition_id}}/recommend" method="POST">
    <input name="receiver_name" type="text">
    <button>Recommend</button>
</form>
{% endif %}
<div id="edition-container-div" class="edition-container" data-edition-id="{{edition_id}}"></div>

<script src="/static/edition.js"></script>
{% endblock %}
