<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>
        {% block title %}
        Home Page
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/base.css">
    {% block link %}
    {% endblock %}
</head>

<body>
    <!-- {% if request.endpoint != None %}
    {% endif %} -->
    <nav class="nav-bar">
        <div class="nav-div-left">
            <a href="/books/search" class="nav-anchor">Search Books</a>
            <a href="/users/search" class="nav-anchor">Search Users</a>
        </div>
        <div class="title-div-header">
            <h1>Reader's Pace</h1>
        </div>
        {% if not g.user %}
        <div class="nav-div-right">
            <a href="/signup" class="nav-anchor">Sign up</a>
            <a href="/login" class="nav-anchor">Login</a>
        </div>
        {% else %}
        <div class="nav-div-right">
            <a href="/users/{{g.user.user_name}}" class="nav-anchor">{{g.user.user_name}}</a>
            <a href="/logout" class="nav-anchor">Log out</a>
        </div>
        {% endif %}
    </nav>
    <div id="body-wrapper" class="body-wrapper">
    {% block content %}
    {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    {% block scripts %}
    {% endblock %}
    <!-- <script src="/static/base.js"></script> -->
</body>

</html>
