{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}
{% block content %}
<div class="body-wrapper">
    <div id="user-search-div" class="search-div">
        <h2 class="title">Search Users</h2>
        <form class="search-form">
            <input id="user-search-input" type="text" name="q">
            <button id="user-search-btn" class="search-btn">Go</button>
        </form>
    </div>
    {% if users %}
    <div class="user-results-container" id="results-div">
        {% for user in users %}
        <a href="/users/{{user.user_name}}">{{user.user_name}}</a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}