{% extends 'base.html' %}
{% block content %}
<h1>{{user.user_name}}</h1>
<hr>
{% if g.user.id != user.id %}
    <form action="{{user.user_name}}/addfriend" method="POST">
        <button>Add friend</button>
    </form>
    <form action="{{user.user_name}}/sendmessage" method="POST">
        <input name="content" type="text">
        <button>Message</button>
    </form>
{% endif %}
<h3>Favorite books:</h3>
{% for c in favorites %}
    {% if c.book.title %}
        {{ c.book.title }}
        {{ c.book.olid }}
    {% endif %}
{% endfor %}
<h3>Books read:</h3>
{% for c in read_list %}
    {% if c.book.title %}
        {{ c.book.title }}
        {{ c.book.olid }}
    {% endif %}
{% endfor %}
<h3>Friends:</h3>
{% for friend in user.friends %}
    {{friend.user_name}}
{% endfor %}
<h3>Messages:</h3>
{% for message in user.received_messages %}
    {{message.content}}
{% endfor %}
<h3>Recommendations:</h3>
{% for recommendation in user.received_recommendations %}
    {{recommendation.title}}
{% endfor %}
<script src="/static/user.js"></script>
<!-- flask get static -->
{% endblock %}
